---
import { Image } from 'astro:assets';
import notelligentImage from '../img/image_1_1500x800.png';
---

<article class="project" data-index="0" data-status="active">
    <a class="preview grid-section" href="https://notesapp-44b3c.web.app/" target="_blank">
      <Image />
    </a>
    <div class="description grid-section">
      <p class="site-info">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
        sit suscipit aliquam totam expedita nostrum tenetur reprehenderit
        illum ducimus deserunt.
      </p>
    </div>
    <div class="title grid-section">
      <a target="_blank" href="https://notesapp-44b3c.web.app/">
        <h2 class="article-name">Notelligent</h2>
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
      </a>
    </div>
    <div class="carousel grid-section">
      <button class="wheel left">
        <i class="fa-solid fa-arrow-left-long"></i>
      </button>
      <button class="wheel right">
        <i class="fa-solid fa-arrow-right-long"></i>
      </button>
    </div>
</article>

<style>
.project {
  position: relative;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 4fr 1fr;
  left: 0;
  top: 0;
}

.grid-section {
  height: 100%;
  position: relative;
}

.preview {
  display: block;
  box-shadow: inset 0 0 2rem hsl(0, 0%, 15%);
  cursor: pointer;
}

.description {
  border-left: 2px solid var(--border-color);
}

.title,
.carousel {
  border-top: 2px solid var(--border-color);
}

.carousel {
  display: flex;
  flex-direction: row;
}

.left,
.right {
  flex-grow: 1;
  border: 0;
  border-left: 2px solid var(--border-color);
}

.wheel {
  background-color: transparent;
  color: var(--text-color);
  font-size: 4rem;
  cursor: pointer;
  position: relative;
}

.wheel::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.2),
    transparent 40%
  );
  content: "";
  height: 100%;
  opacity: 0;
  transition: opacity 500ms;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 2;
}

.wheel:hover::before {
  opacity: 1;
}

.site-info {
  position: absolute;
  bottom: 10px;
  padding: 0 2rem;
  font-size: 30px;
  color: var(--text-color);
}

.preview img {
  height: 100%;
  width: 100%;
  max-width: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -1;
  top: 0;
}

.title {
  display: flex;
  align-items: center;
  text-align: left;
  color: var(--text-color);
}

.title > a {
  display: flex;
  font-size: var(--font-size);
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.title > a > i {
  margin-right: 2rem;
}
</style>